@font-face {
  font-family: "Gkktt";
  src: url(../fonts/851Gkktt.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 60%;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #397368;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* ヘッダー */
header {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/hero.jpg);
}

/* セクション共通 */
section h2 {
    font-size: 7.2rem;
    letter-spacing: 0.8rem;
    font-family: "Gkktt";
    text-align: center;
    padding: 130px 0;
}

/* セクション1：「ラジオの魅力」 */
#charm-section {
    padding-bottom: 110px;
    width: 100%;
    position: relative;
}

#charm-section p {
    font-size: 2rem;
    font-family: "NotoSans";
    font-style: bold;
    text-align: center;
    line-height: 4.2rem;
    margin-bottom: 50px;
}

.shape1 {
    width: 29vw;
    position: absolute;
    top: 14%;
    left: -5vw;
}

.shape2 {
    width: 12vw;
    position: absolute;
    top: 54%;
    left: 7vw;
}

.shape3 {
    width: 20vw;
    position: absolute;
    top: 66%;
    left: 4vw;
}

.shape4 {
    width: 22vw;
    position: absolute;
    top: 16%;
    right: 0;
}

.shape5 {
    width: 16vw;
    position: absolute;
    top: 59%;
    right: 9vw;
}

/* セクション2：「番組紹介」 */
#program-section h2 {
    color: #fff;
}

#program-section {
    background-color: #397368;
    width: 100%;
}

.program-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}

.program {
    width: 250px;
    height: 250px;
    margin: 35px 40px;
    position: relative;
    background-image: url(../image/white-circle.png);
    background-size: cover;
}

.program img {
    width: 100%;
}

.program-image {
    transition:  0.4s;
}

.program-image:hover {
    opacity: 0.2;
}

.program-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12%;
    width: 95%;
    height: 24%;
    border-radius: 20px;
    background-color: #A8A7A7;
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.45s;
}

.program-text p {
    letter-spacing: 3px;
    font-size: 17px;
    font-family: "Gkktt";
}

.program-image:hover + .program-text {
    opacity: 0;
}

.program-intro {
    position: absolute; 
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgb(153, 101, 101);
}

.program-title {
    display: table;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

.program-title h4 {
    font-size: 19px;
    letter-spacing: 3px;
    font-family: "Gkktt";
    display: table-cell;
    vertical-align: middle;
    line-height: 24px;
}

.program-intro p {
    font-size: 15px;
    margin: 7px 0;
    font-family: "NotoSans";
    letter-spacing: 1px;
}


/* セクション3：「こんな時はラジオに限る」 */
#howto-section {
    width: 100%;
}

.howto-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 130px;
    margin: 0 auto;
    width: 78%;
}

.howto-content {
    background-color: #397368;
    width: 300px;
    text-align: center;
    margin: 0 3.66%;
    margin-bottom: 40px;
    box-shadow: 14px 10px 4px #DBE139;
}

.howto-content h3 {
    color: #fff;
    margin-top: 80px;
    font-size: 3.3rem;
    letter-spacing: 4px;
}

.howto-content img {
    width: 60%;
    margin-top: 29px;
}

.howto-content p {
    color: #fff;
    margin-top: 39px;
    margin-bottom: 76px;
    font-size: 2.9rem;
    letter-spacing: 3px;
    font-family: "NotoSans";
}

.border-text {
    border-bottom: 4px solid #fff;
    padding-bottom: 10px;
}

/* フッター */
footer {
    background-color: #397368;
    text-align: center;
    height: 70px;
    font-size: 31px;
    color: #fff;
    font-family: "Gkktt";
}

footer p {
    line-height: 70px;
}


.copy-right {
    font-family: serif;
}

/* レスポンシブ */
@media screen and (max-width: 480px) {
    header {
        background-image: url(../image/hero-sp.jpg);
    }

    section h2 {
        font-size: 4.5rem;
    }

    #howto-section h2 {
        font-size: 3rem;
    }
}