@font-face {
  font-family: "Gkktt";
  src: url(../fonts/851Gkktt.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 60%;
}

.br-sp {
    display: none;
}

/* ヘッダー */
.pc-header {
    width: 100%;
}

.sp-header {
    display: none;
}

/* セクション共通 */
section h2 {
    font-size: 7.2rem;
    letter-spacing: 0.8rem;
    font-family: "Gkktt";
    text-align: center;
    padding: 130px 0;
}

/* セクション1：「ラジオの魅力」 */
#charm-section {
    padding-bottom: 110px;
    width: 100%;
    position: relative;
}

#charm-section p {
    font-size: 2rem;
    font-family: "NotoSans";
    font-style: bold;
    text-align: center;
    line-height: 4.2rem;
    margin-bottom: 50px;
}

.shape1 {
    width: 29vw;
    position: absolute;
    top: 14%;
    left: -5vw;
}

.shape2 {
    width: 12vw;
    position: absolute;
    top: 54%;
    left: 7vw;
}

.shape3 {
    width: 20vw;
    position: absolute;
    top: 66%;
    left: 4vw;
}

.shape4 {
    width: 22vw;
    position: absolute;
    top: 16%;
    right: 0;
}

.shape5 {
    width: 16vw;
    position: absolute;
    top: 59%;
    right: 9vw;
}

.shape4-sp {
    display: none;
}

.shape5-sp {
    display: none;
}

/* セクション2：「番組紹介」 */
#program-section h2 {
    color: #fff;
}

#program-section {
    background-color: #397368;
    width: 100%;
}

.program-wrapper {
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}

.program {
    width: 200px;
    height: 200px;
    margin: 35px 40px;
    position: relative;
}

.program img {
    width: 100%;
}

.white-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.program-image {
    transition:  0.6s;
    position: absolute;
    top: 0;
    left: 0;
}

.program-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 12%;
    width: 95%;
    height: 24%;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.45s;
}

.program-text p {
    letter-spacing: 3px;
    font-size: 16px;
    font-family: "Gkktt";
    color: #fff;
}

.program-intro {
    position: absolute; 
    width: 100%;
    top: 15%;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.program-title {
    display: table;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 23px;
    text-align: center;
}

.program-title h4 {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: "Gkktt";
    display: table-cell;
    vertical-align: middle;
    line-height: 24px;
}

.program-intro p {
    font-size: 15px;
    margin: 7px 0;
    font-family: "NotoSans";
    letter-spacing: 1px;
}

.program-image:hover {
    opacity: 0.2;
}

.program-image:hover + .program-text {
    opacity: 0;
}

/* セクション3：「こんな時はラジオに限る」 */
#howto-section {
    width: 100%;
}

.howto-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 110px;
    margin: 0 auto;
    width: 65%;
}

.howto-content {
    background-color: #397368;
    width: 245px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    box-shadow: 14px 10px 4px #DBE139;
}

.howto-content h3 {
    color: #fff;
    margin-top: 70px;
    font-size: 3.3rem;
    letter-spacing: 4px;
}

.howto-content img {
    width: 60%;
    margin-top: 29px;
}

.howto-content p {
    color: #fff;
    margin-top: 39px;
    margin-bottom: 100px;
    font-size: 2.6rem;
    letter-spacing: 3px;
    font-family: "NotoSans";
}

.border-text {
    border-bottom: 4px solid #fff;
    padding-bottom: 10px;
}

/* フッター */
footer {
    background-color: #397368;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: "Gkktt";
}

footer p {
    line-height: 70px;
}


.copy-right {
    font-family: serif;
    margin-top: 10px;
}


/* レスポンシブ */
/* プログラムサイジング用 */
@media screen and (max-width: 1400px) {
    .program {
        width: 180px;
        height: 180px;
        margin: 25px 30px;
    }

    .program-text p {
        letter-spacing: 2.7px;
        font-size: 16px;
    }

    .program-intro {
        height: 72px;
    }

    .program-title {
        height: 36px;
        margin-bottom: 14px;
    }

    .program-title h4 {
        font-size: 15.3px;
        letter-spacing: 2.7px;
        line-height: 21.6px;
    }

    .program-intro p {
        font-size: 13.5px;
        margin: 6.3px 0;
        letter-spacing: 0.9px;
    }
}

/* ハウトゥーサイジング用 */
@media screen and (max-width: 1300px) {
    .howto-wrapper {
        width: 85%;
    }
}

/* プログラムサイジング用 */
@media screen and (max-width: 1160px) {
    .program {
        width: 160px;
        height: 160px;
        margin: 25px 30px;
    }

    .program-text p {
        letter-spacing: 2.3px;
        font-size: 15px;
    }

    .program-intro {
        height: 65px;
    }

    .program-title {
        height: 32px;
        margin-bottom: 11px;
    }

    .program-title h4 {
        font-size: 13px;
        letter-spacing: 2.4px;
        line-height: 19.5px;
    }

    .program-intro p {
        font-size: 12px;
        margin: 5.5px 0;
        letter-spacing: 0.8px;
    }
}

@media screen and (max-width: 950px) {
    .br-tb {
        display: block;
    }
}

@media screen and (max-width: 540px) {
    .br-sp {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    body{
	    font-family: sans-serif ;
    }

    .pc-header {
        display: none;
    }

    .sp-header {
        display: block;
        width: 100%;
    }

    section h2 {
        padding: 100px 0;
    }

    header {
        background-image: url(../image/hero-sp.jpg);
    }

    #charm-section p {
        font-size: 1.7rem;
        margin-bottom: 40px;
    }

    section h2 {
        font-size: 4.5rem;
    }

    .shape1 {
        display: none;
    }

    .shape2 {
        width: 24vw;
        top: 54%;
        left: -12vw;
    }

    .shape3 {
        display: none;
    }

    .shape4 {
        display: none;
    }

    .shape5 {
        display: none;
    }

    .shape4-sp {
        position: absolute;
        display: block;
        width: 19vw;
        top: 19%;
        right: 0;
    }

    .shape5-sp {
        position: absolute;
        display: block;
        width: 19vw;
        top: 70%;
        right: 0;
    }

    .howto-wrapper {
        padding-bottom: 60px;
    }

    .howto-content h3 {
        margin-top: 45px;
    }

    .howto-content p {
        margin-bottom: 60px;
    }
}